<link rel="stylesheet" href="/styles/style.css" />
<div class="codrops-top">
    <button id="home" class="top-bar">Home</button>
    <button id="home" class="top-bar">Search</button>
    <button id="home" class="top-bar-right">Login</button>
</div>
<div class="introduction">
    <h1>House Renting System</h1>
    <p>The system is for you to rent houses online</p>
</div>