<link rel="stylesheet" type="text/css" href="/styles/style.css"></link>
<link rel="stylesheet" type="text/css" href="/styles/font-awesome.css"></link>
<body background="/images/background.jpg">
	<div class="container">
		<img src="/images/house.jpg" />
		<form>
			<div class="form-input">
				<input type="text" id="userName" placeholder="Account" /><br>
			</div>
			<div class="form-input">
				<input type="password" id="userPassword" placeholder="Password" /><br>
			</div>
			<input type="submit" id="login" class="btn-login" value="Login" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="submit" id="register" class="btn-login" value="Register" /><br>
			<a href="">Forget Password?</a>
		</form>
	</div>
</body>

