<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="/styles/style.css" />
<link rel="stylesheet" type="text/css" href="/styles/font-awesome.css" />

<div class="col-md-offset-1 col-lg-offset-2 col-md-10 col-lg-8">
	<div class="codrops-top">
	    <button id="home" class="top-bar"><a href="/">Home</a></button>
	    <button id="search" class="top-bar"><a href="/house/search">Search</a></button>
	</div>
</div>
	
<div class="col-md-offset-3 col-lg-offset-4 col-md-6 col-lg-4">
	<div class="register">
		<img src="/images/house.jpg" />
		<form>
			<div class="form-input">
				<input type="text" id="userName" placeholder="Account" /><br>
			</div>	
			<div class="form-input">
				<input type="password" id="userPassword" placeholder="Password" /><br>
			</div>
			<div class="form-input">
				<input type="password" id="reUserPassword" placeholder="Password Again" /><br>
			</div>
			<input type="submit" id="register" class="btn-login" value="Register" /><br>
			<p>Already have an account? <a href="/user/login">Log in </a>here</p>
		</form>
	</div>
</div>