body {
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	width: 500px;
	height: 400px;
	text-align: center;
	background-color: rgba(52, 73, 94, 0.7);
	border-radius: 4px;
	margin: 200px auto;
}

.container img {
	width: 100px;
	height: 100px;
	margin-top: -40px;
	margin-bottom: 20px;
}

input[type="text"],input[type="password"] {
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 30px;
	border-radius: 4px;
}

.form-input::before {
	content: "\f007";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 30px;
	margin-top: 5px;
	color: #9B59B6;
	padding-left: 5px;
	padding-top: 5px;
}

.form-input:nth-child(2)::before {
	content: "\f023";
}

.btn-login {
	padding: 15px 25px;
	cursor: pointer;
	color: #fff;
	background-color: #2ECC71;
	border-radius: 4px;
	border: none;
	border-bottom: 4px solid #27AE60;
	margin-top: 20px;
	margin-bottom: 20px;
}

a {
	color: #fff;
}

.codrops-top{
	width: 1200px;
	height: 100px;
	margin: auto;
	line-height: 24px;
	text-transform: uppercase;
	z-index: 9999;
	border-radius: 4px;
	background-color: #FCFCFC;
	box-shadow: 0px 0px 10px #888888;
}

.top-bar {
	height: 60px;
	margin: 20px auto;
	margin-left: 50px;
	background-color: #FCFCFC;
	font-size: 25px;
	border: none;
	color: #D1D0CE;
	outline: none;
	cursor: pointer;
}

.top-bar-right {
	height: 60px;
	margin: 20px auto;
	margin-right: 50px;
	background-color: #FCFCFC;
	font-size: 25px;
	border: none;
	color: #D1D0CE;
	outline: none;
	cursor: pointer;
	float: right;
}

.introduction {
	width: 1200px;
	height: 200px;
	margin: 100px auto;
	border-radius: 10px;
	background-color: #EFEFEF;
}

.introduction h1 {
	margin: 20px;
}
.introduction p {
	margin: 20px;
	font-size: 20px;
}