.login {
	height: 350px;
	text-align: center;
	background-color: rgba(52, 73, 94, 0.7);
	border-radius: 4px;
	margin: 100px auto;
}

.login img {
	width: 100px;
	height: 100px;
	margin-top: -40px;
	margin-bottom: 20px;
	float: center;
}

.login p {
	color: #fff;
}

.login a {
	font-size: 25px;
	text-decoration: none;
	color: #fff;
}

input[type="text"],input[type="password"] {
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 30px;
	border-radius: 4px;
}

.form-input::before {
	content: "\f007";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 30px;
	margin-top: -5px;
	color: #9B59B6;
	padding-left: 5px;
	padding-top: 5px;
}

.form-input:nth-child(2)::before {
	content: "\f023";
}
.form-input:nth-child(3)::before {
	content: "\f023";
}

.btn-login {
	padding: 15px 25px;
	cursor: pointer;
	color: #fff;
	background-color: #2ECC71;
	border-radius: 4px;
	border: none;
	border-bottom: 4px solid #27AE60;
	margin-top: 20px;
	margin-bottom: 20px;
}

.codrops-top{
	margin: auto;
	line-height: 24px;
	z-index: 9999;
	border-radius: 4px;
	background-color: #FCFCFC;
	box-shadow: 0px 0px 10px #888888;
}

.top-bar {
	height: 60px;
	margin: 20px auto;
	margin-left: 50px;
	background-color: #FCFCFC;
	font-size: 25px;
	border: none;
	color: #D1D0CE;
	outline: none;
	cursor: pointer;
}

.top-bar-right {
	height: 60px;
	margin: 20px auto;
	margin-right: 50px;
	background-color: #FCFCFC;
	font-size: 25px;
	text-align: center;
	display: table-cell;
	border: none;
	color: #D1D0CE;
	outline: none;	
	float: right;
}

.top-bar a {
	color: #D1D0CE;
	cursor: pointer;
	text-decoration: none;
}

.top-bar-right a {
	color: #D1D0CE;
	text-decoration: none;
}

.top-bar-right-user {
	height: 60px;
	margin: 20px auto;
	margin-right: 50px;
	font-size: 25px;
	text-align: center;
	display: table-cell;
	background-color: #FCFCFC;
	border: none;
	color: #D1D0CE;
	outline: none;	
	float: right;
	cursor: auto;
}


.introduction {
	margin: 50px auto;
	border-radius: 10px;
	background-color: #EFEFEF;
}

.introduction h1 {
	margin: 20px;
}

.introduction p {
	height: 50px;
	margin: 20px;
	font-size: 20px;
}

.home {
	margin: 0 auto;
}

.register {
	height: 450px;
	background-color: rgba(52, 73, 94, 0.7);
	border-radius: 4px;
	margin: 100px auto;
	text-align: center;
}

.register img {
	width: 100px;
	height: 100px;
	margin-top: -40px;
	margin-bottom: 20px;
	
}

.register p {
	color: #fff;
}

.register a {
	font-size: 25px;
	text-decoration: none;
	color: #fff;
}

.wrongpassword {
	font-size: 15px;
	color: #F00;
}

.clearfix {
	list-style: none;
	background-color: #FFF;
}

.list{	
	padding-bottom: 15px;
	padding-top: 20px;
	width: 100%;

}

.list img {
	margin: 0 auto;
	height: 200px;
	width: 400px;
	border-radius: 10px;
}

.list a {
	text-decoration: none;
}

.title {
	text-align: left;
}

.info {
	text-align: left;
	font-size: 25px;
}

.top {
	padding-left: 40px;
	vertical-align: top;
}

.detail {
	padding-bottom: 15px;
	padding-top: 20px;
	width: 100%;
}

.detail img {
	margin: 0 auto;
	height: 400px;
	width: 600px;
	border-radius: 10px;
}